body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #b23301;
}

nav li a {
  transition: all 0.3 ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #F8F8F8;
}

.size {
  background: #F8F8F8;
}

.addtocart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3 ease-in-out;
}
.addtocart:hover {
  background-color: #b23301;
  border-color: #fff;
  color: #fff;
}
.addtocart:focus {
  outline: none;
}

.btnprimary {
  background: #FE5F1E;
  transition: all 0.3 ease-in-out;
}
.btnprimary:hover {
  background: #b23301;
}

section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #FE5F1E;
}

section.login {
  background: #F8F8F8;
}
